@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Medium.otf');
    font-weight: bold;
}


body {
	font-family: 'Montserrat', sans-serif;
}

h1.header {
	font-size: 40px;
	color: #171738;
	position: absolute;
	top: 100px;
	left: 150px;
}

p.sub {
	font-family: 'Open Sans', sans-serif;
	font-size: 23px;
	color: #414163;
	position: absolute;
	top: 190px;
	left: 150px;
}